***
# Proyecto: Notebook para prueba de pipeline
## Diplomado Ciencia de Datos - modulo II  
  
***  
**Hernández González Ricardo Paramont**




<br>

In [18]:
import pandas as pd
import numpy as np
import pickle
import warnings
from modulo_hernandez_gonzalez_ricardo_paramont import ImportDF
from modulo_hernandez_gonzalez_ricardo_paramont import CategorizeSalary

warnings.filterwarnings('ignore')

Se creó un pipeline capaz de transformar un dataframe para después ser sometido a la predicción de una variable categorica de estimación de salario. Las categorias de predicción son:  
<br>
1.- menor de 85K anuales - categoría **0**  
2.- mayor a 85k y menor a125k anuales - categoria **1**  
3.- 125k o más anuales - categoria **2**

### Carga de dataset

In [7]:
#El dataset de prueba se llama test_100.csv
importar = ImportDF()
df = importar.transform('test_100.csv')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Business Data Analyst,$98K-$160K (Glassdoor est.),Business Data Analyst\n\nAre you a passionate ...,3.9,DHL\n3.9,"Westerville, OH","Bonn, Germany",10000+ employees,1969.0,Company - Private,Logistics & Supply Chain,Transportation & Logistics,NaN,NaN,NaN
1,Senior Data Engineer - Apps Systems Engineer 5,$84K-$101K (Glassdoor est.),Job Description\n\nImportant Note: During the ...,3.6,Wells Fargo\n3.6,"Chandler, AZ","San Francisco, CA",10000+ employees,1852.0,Company - Public,Banks & Credit Unions,Finance,$10+ billion (USD),NaN,NaN
2,Associate Clinical Scientist/Clinical Trial As...,$70K-$154K (Glassdoor est.),Job Description\nAbout INOVIO\n\nINOVIO is a b...,3.6,Inovio Pharmaceuticals\n3.6,"Plymouth Meeting, PA","Plymouth Meeting, PA",201 to 500 employees,NaN,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$25 to $50 million (USD),NaN,NaN
3,Principal Research Scientist,$34K-$72K (Glassdoor est.),"For more than 75 years, Grifols has worked to ...",3.2,Grifols\n3.2,"Los Angeles, CA","Barcelona, Spain",10000+ employees,1909.0,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),NaN,NaN
4,Digital Analytics and Data Science Manager,$73K-$111K (Glassdoor est.),"Posted: Jun 11, 2020\nWeekly Hours: 40\nRole N...",4.1,Apple\n4.1,"Austin, TX","Cupertino, CA",10000+ employees,1976.0,Company - Public,Computer Hardware & Software,Information Technology,$10+ billion (USD),"Google, Microsoft, Samsung Electronics",NaN

### preprocesamiento de datos

In [10]:
#importando pipeline de preprocesamiento de dataframe
with open('pipeline.pkl','rb') as f:
    pipeline = pickle.load(f)

In [15]:
df = pipeline.transform(df)

### predicción

In [16]:
#importando modelo de clasificacion
with open('best_gb.pkl','rb') as f:
    model = pickle.load(f)

In [19]:
y_pred = model.predict(df)
y_pred

array([0, 1, 1, 0, 1, 1, 0, 0, 2, 1, 2, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 2, 0, 1, 0, 2, 1, 0, 0, 2, 0, 2, 1, 1, 1, 2, 0, 1, 0, 0, 2,
       2, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 2, 1, 0, 2, 1, 0, 2, 2, 2,
       2, 2, 0, 0, 0, 0, 1, 2, 0, 1, 0, 2, 0, 0, 0, 0, 1, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 0, 0, 0, 2, 0, 1, 0, 2])

In [21]:
#Decodificando las categorias
categorize = CategorizeSalary()
categorize.inverse_transform(pd.Series(y_pred))

0                 85,000 or less
1     between 85,000, and 125,000
2     between 85,000, and 125,000
3                 85,000 or less
4     between 85,000, and 125,000
                 ...
95             more than 1250,000
96                85,000 or less
97    between 85,000, and 125,000
98                85,000 or less
99             more than 1250,000
Length: 100, dtype: object